n8n/workflow_radar_legislativo_resumo_diario.json
{
  "name": "Radar Legislativo - Resumo Diário",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const proposicoes = $('Buscar últimas proposições').all().map(item => item.json);\nconst votacoes = $('Buscar últimas votações').all().map(item => item.json);\n\nconst respostaIA = $('Gerar análise executiva IA').first().json;\nconst analiseExecutiva = respostaIA.output?.[0]?.content?.[0]?.text || 'Análise executiva não gerada.';\n\nfunction montarListaProposicoes(lista) {\n  return lista.map((p, index) => `\n    <tr>\n      <td>${index + 1}</td>\n      <td>${p.sigla_tipo || ''} ${p.numero || ''}/${p.ano || ''}</td>\n      <td>${p.data_apresentacao || ''}</td>\n      <td>${p.ementa || ''}</td>\n      <td>${p.resumo_ia || 'Resumo em processamento'}</td>\n      <td><a href=\"${p.uri || '#'}\">Abrir</a></td>\n    </tr>\n  `).join('');\n}\n\nfunction montarListaVotacoes(lista) {\n  return lista.map((v, index) => `\n    <tr>\n      <td>${index + 1}</td>\n      <td>${v.data || ''}</td>\n      <td>${v.sigla_orgao || ''}</td>\n      <td>${v.descricao || ''}</td>\n      <td>${v.aprovacao || ''}</td>\n      <td><a href=\"${v.uri || '#'}\">Abrir</a></td>\n    </tr>\n  `).join('');\n}\n\nconst html = `\n  <h2>Radar Legislativo — Resumo Diário</h2>\n\n  <h3>Análise executiva gerada por IA</h3>\n\n  <p style=\"font-size: 14px; line-height: 1.5;\">\n    ${analiseExecutiva.replace(/\\n/g, '<br><br>')}\n  </p>\n\n  <hr>\n\n  <h3>Últimas proposições</h3>\n\n  <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n    <thead>\n      <tr>\n        <th>#</th>\n        <th>Proposição</th>\n        <th>Data</th>\n        <th>Ementa</th>\n        <th>Resumo IA</th>\n        <th>Link</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${montarListaProposicoes(proposicoes)}\n    </tbody>\n  </table>\n\n  <br>\n\n  <h3>Últimas votações</h3>\n\n  <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n    <thead>\n      <tr>\n        <th>#</th>\n        <th>Data</th>\n        <th>Órgão</th>\n        <th>Descrição</th>\n        <th>Aprovação</th>\n        <th>Link</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${montarListaVotacoes(votacoes)}\n    </tbody>\n  </table>\n\n  <br>\n\n  <p>\n    Fonte: Dados Abertos da Câmara dos Deputados.<br>\n    Pipeline: API Câmara → Python/Pandas → Supabase → n8n → IA Generativa → E-mail.\n  </p>\n`;\n\nreturn [\n  {\n    json: {\n      assunto: 'Radar Legislativo — Resumo Diário com IA',\n      analise_executiva_ia: analiseExecutiva,\n      html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        208
      ],
      "id": "3d1eec47-8b95-4dfa-ad92-40e0cb4e1a88",
      "name": "Montar resumo HTML"
    },
    {
      "parameters": {
        "url": "https://vmktswtylsecsvzqiidd.supabase.co/rest/v1/vw_top_ultimas_votacoes?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "{{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        208
      ],
      "id": "041aea63-0e49-421f-b35c-a6a335379f9e",
      "name": "Buscar últimas votações"
    },
    {
      "parameters": {
        "url": "https://vmktswtylsecsvzqiidd.supabase.co/rest/v1/vw_top_ultimas_proposicoes?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "{{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        208
      ],
      "id": "0cb9a86f-b6c2-47ff-b0f8-c5962abdb3a3",
      "name": "Buscar últimas proposições"
    },
    {
      "parameters": {
        "sendTo": "victor_morais@yahoo.com.br",
        "subject": "={{ $json.assunto }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        208
      ],
      "id": "9d10f1e8-998b-49b8-a4a1-cb45f81ceb29",
      "name": "Send a message",
      "webhookId": "5760939c-0638-46eb-9cfb-d343d722d8da",
      "credentials": {
        "gmailOAuth2": {
          "id": "7lmeBHqvphJEPLZN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        208
      ],
      "id": "a7e1734d-6ae6-4cf4-b653-494b8c97eb3a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const proposicoes = $('Buscar últimas proposições').all().map(item => item.json);\nconst votacoes = $('Buscar últimas votações').all().map(item => item.json);\n\nconst textoProposicoes = proposicoes.map((p, index) => {\n  return `${index + 1}. ${p.sigla_tipo} ${p.numero}/${p.ano} - ${p.data_apresentacao}\nEmenta: ${p.ementa}\nResumo IA: ${p.resumo_ia || 'não disponível'}`;\n}).join('\\n\\n');\n\nconst textoVotacoes = votacoes.map((v, index) => {\n  return `${index + 1}. ${v.data} - ${v.sigla_orgao}\nDescrição: ${v.descricao}\nAprovação: ${v.aprovacao}`;\n}).join('\\n\\n');\n\nconst contexto = `\nVocê receberá dados públicos da Câmara dos Deputados.\n\nObjetivo:\nGerar uma análise executiva breve para abrir um e-mail enviado a diretores de uma consultoria legislativa.\n\nÚltimas proposições:\n${textoProposicoes}\n\nÚltimas votações:\n${textoVotacoes}\n`;\n\nreturn [\n  {\n    json: {\n      contexto,\n      proposicoes,\n      votacoes\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        208
      ],
      "id": "c4049b09-6673-4ef9-b1fa-f4873e617e9e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é um analista legislativo sênior da consultoria Bússola Pública.\n\nSua tarefa é gerar uma análise executiva breve a partir de dados públicos da Câmara dos Deputados.\n\nA resposta será usada como introdução de um e-mail enviado para diretores.\n\nRegras:\n- Escreva em português do Brasil.\n- Seja objetivo.\n- Não invente informações.\n- Use apenas os dados fornecidos.\n- Destaque temas recorrentes, possíveis impactos e pontos de atenção.\n- Não use markdown.\n- Não use lista longa.\n- Escreva no máximo 3 parágrafos curtos."
            },
            {
              "content": "={{ $json.contexto }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        48,
        208
      ],
      "id": "db48f094-c2fa-445d-be29-cd6c7c78e023",
      "name": "Gerar análise executiva IA",
      "credentials": {
        "openAiApi": {
          "id": "Hw8jGMtFY1PSgkU8",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar últimas votações": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar últimas proposições": {
      "main": [
        [
          {
            "node": "Buscar últimas votações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar resumo HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar últimas proposições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Gerar análise executiva IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar análise executiva IA": {
      "main": [
        [
          {
            "node": "Montar resumo HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9eec8a0-30f7-4131-ad3d-9b9403f94355",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34de5933100d3be5fff9ed755762715ac3a51826b418ae27fe940d36eb280819"
  },
  "nodeGroups": [],
  "id": "f5uRw4mIer2xSwMP",
  "tags": []
}